<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gitanizer</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/AdminLTE/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/AdminLTE/css/skins/skin-red.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/gitanizer/css/gitanizer.css}"/>
    <th:block layout:fragment="css"></th:block>
</head>
<body class="hold-transition skin-red fixed sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">git</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><i class="fa fa-code-fork"></i>&nbsp;<b>git</b>anizer</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="container">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="pull-right" href="/logout" title="Sign out"><i class="fa fa-power-off"></i>&nbsp;Sign
                                out</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">MIRRORS</li>
                <li><a th:href="@{/mirrors/list}"><i class="fa fa-list"></i>
                    <span>List all Mirrors</span></a>
                </li>
                <li><a th:href="@{/mirrors/create}"><i class="fa fa-plus-circle"></i>
                    <span>Add a new Mirror</span></a>
                </li>
                <li class="header">ADMINISTRATION</li>
                <li><a th:href="@{/admin}"><i class="fa fa-cog"></i>
                    <span>Administration</span></a></li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper" style="min-height: 403px;">
        <div layout:fragment="content">
            HERE GOES THE CONTENT HEADER AND CONTENT
        </div>
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> @gitanizer.version@
        </div>
        <strong>built with <i class="fa fa-heart"></i> by <a
                href="http://github.com/reflectoring">reflectoring</a></strong>
    </footer>

</div>

<script th:src="@{/static/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/AdminLTE/js/app.min.js}"></script>
<th:block layout:fragment="js"></th:block>
</body>
</html>