<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Gitanizer</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/AdminLTE/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/AdminLTE/css/skins/skin-red.min.css}"/>
    <th:block layout:fragment="css"></th:block>
</head>
<body class="hold-transition skin-red layout-top-nav">
<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><i class="fa fa-code-fork"></i>&nbsp;<b>git</b>anizer</a>
                </div>

                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="content-wrapper">
        <div class="container">

            <section class="content" layout:fragment="content">
                HERE GOES THE CONTENT
            </section>

        </div>

    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> @gitanizer.version@
        </div>
        <strong>built with <i class="fa fa-heart"></i> by <a href="http://github.com/reflectoring">reflectoring</a></strong>
    </footer>

</div>

<script th:src="@{/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/AdminLTE/js/app.min.js}"></script>
<th:block layout:fragment="js"></th:block>
</body>
</html>